langchain==0.3.11
langchain-community==0.3.11
langchain-chroma==0.1.4
langchain-pinecone
langchain-ollama

langchain-huggingface
langchain-groq
huggingface-hub
sentence-transformers
langchain-experimental
rank_bm25

jq==1.8.0
pymupdf==1.25.1
python-dotenv

jupyter
ipywidgets